$background-color: $border-color;
$project-gray: #E8E9ED;
$border-detail: #b0c4d2;
$inactive-grey        : rgba(230, 231, 233, 1);


// Page
$page-header-height: 50px;

// Sidebar
$sidebar-width: 220px;
$sidebar-border-color: $project-gray;
$sidebar-header-height: $page-header-height;

$secondary-sidebar-width:  0 !default;
$secondary-sidebar-position-left: 220px !default;
$secondary-sidebar-width-expand: 175px;
$secondary-sidebar-margin-left-expand: -175px;

// Widgets
$ibox-shadow: rgba(0, 0, 0, 0.03) 0px 2px 5px 0px;

// grid
$grid-bottom-table: 1fr 1fr;

// font-size
$font-size-med: 12px;

// font-weight
$font-weight-semibold: 600;

//border
$border-radius-default: 5px;
